
@keyframes visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

html,body {
    height: 100%;
}

body {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 auto;
    background: #2582ff;
}

#content{
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0;
    align-items: center;
    padding: 0 60px
}

.grid{
   display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 680px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: opacity 1s ease-out;
}

.grid .row{
    display: flex;
    flex-direction: row;
}

.grid .cell{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 54px;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
}

.grid .cell.description{
    min-width: 230px;
    color: #EFEA00;
}

.task {
    flex: 1;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    transition: opacity 1s ease-out;
}

.cat, .auction {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 1s ease-out;
}

.cat .image{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    background: url('./images/cat.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.auction .image{
    height: 400px;
    width: 400px;
    margin: 0 auto;
    background: url('./images/auction.jpeg') no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.task .image{
    height: 700px;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.visible {
    display: flex;
    animation: visible 1s ease-in-out both;
}

.hidden {
    display: none !important;
}

.buttons-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.button-start-round {
    width: 220px;
    padding: 10px;
    margin-bottom: 30px;
    background: white;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}