html,body {
    height: 100%;
}

body {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 auto;
    background: #2582ff;
}

#content{
    flex: 1;
    padding: 0;
    margin: 0;
    align-items: center;
}

.grid{
   display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 680px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.grid .row{
    display: flex;
    flex-direction: row;
}

.grid .cell{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    height: 3rem;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
}

.grid .cell.description{
    min-width: 200px;
    color: #EFEA00;
}

.task {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}